@{
    Layout = "_Layout";
}

@model CommentList

<div class="background-home main-slider">
    <div class="h-100">
        <div class="table-model">
            <div class="display-table-cell center-text color-white">
                <h5><b>BEST IN TOWN</b></h5>
                <h1 class="mt-3">Pizza</h1>
                <h5><a asp-action="Menu" asp-controller="Home" class="btn-primaryc pl-5 pr-5">
                        <b>SEE MENU</b></a>
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="center-text position-relative p-4 mr-5 ml-5">
    <div class="works-img">
        <div class="work-img-s"><img class="mb-3 mr-5" src="images/about_us_1.jpg" alt=""></div>
        <div class="work-img-s"><img class="mb-3 ml-5" src="images/about_us_3.jpg" alt=""></div>
    </div>
    @* <div class="background-2 ml-5"></div>
    <div class="background-3 mr-5"></div> *@

    <div>
        <div class="heading">
            <img class="heading-img" src="~/images/Llogo_4.png" alt="">
            <h2>Our Story</h2>
        </div>

        <div class="pstyle w-75">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nisi quas odit deleniti
                nulla alias dolorum quam debitis placeat reprehenderit. Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Non aspernatur sunt, blanditiis distinctio dignissimos iure.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ea, velit quos voluptate
                magnam assumenda delectus porro modi animi impedit. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Aperiam error a accusamus hic aliquam commodi.</p>
        </div>
    </div>
</div>

<div>
    <div class="mySlides">
        <img src="~/images\animation\rr1.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr2.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr3.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr4.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr5.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr6.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr7.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr8.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr9.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr10.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr11.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr12.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr13.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr14.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr15.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr16.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr17.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr18.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr19.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr20.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr21.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr22.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr23.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr24.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr25.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr26.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr27.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr28.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr29.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr30.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr31.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr32.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr33.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr34.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr35.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr36.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr37.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr38.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr39.png">
    </div>
    <div class="mySlides">
        <img src="~/images\animation\rr40.png">
    </div>
</div>
<br>

<div>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<section class="story-area background-seller color-white pos-relative">

    <div>
        <div class="heading">
            <img class="heading-img" src="~/images/Llogo_3.png" alt="">
            <h2>What Clients Say</h2>
        </div>
        <div class="m-5 pl-5 fstyle">
            @foreach (var message in Model.ListComment)
            {
                <div>
                    <div class="entry-thumbnail">
                        <a href="portfolio-item.html"><img src="@message.ImageUrl" class="rounded-circle w-50 h-50 mb-3" /></a>
                    </div>
                    <p class="color-ash">@message.User.FirstName @message.User.LastName - @message.CreatedAt.ToString("MMMM dd yyyy")</p>
                    <p class="color-ash">@message.Description</p>
                </div>
            }
        </div>

        <div class="row justify-content-center">
            <button id="myBtn" class="btn-primaryc pl-5 pr-5 border-0"><b>Add a comment<b></button>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <form method="post" asp-action="CreateComment" asp-controller="Home">
                        <div class="form-group">
                            <label class="text-muted pt-2 pb-2" asp-for="OneComment.ImageUrl"></label>
                            <span class="text-danger small" asp-validation-for="OneComment.ImageUrl"></span>
                            <input class="form-control rounded-left" asp-for="OneComment.ImageUrl">
                        </div>
                        <div class="form-group">
                            <label class="text-muted pt-2 pb-2" asp-for="OneComment.Description"></label>
                            <span class="text-danger small" asp-validation-for="OneComment.Description"></span>
                            <textarea class="form-control rounded-left" asp-for="OneComment.Description"></textarea>
                        </div>
                        <input type="hidden" asp-for="OneComment.UserId" value="@ViewBag.User.UserId">
                        <input class="btn btn-success float-right" type="submit" value="Add a comment">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("myBtn");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 90); // Change image every 2 seconds
    }
</script>
